@model Employee
@{
    ViewBag.Title = "Delete Employee";
}

<h2>Confirm Deletion For-</h2>
<p>Employee: @Model.FullName</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="EmployeeId" />

    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="List" class="btn btn-primary">Cancel</a>
</form>