@model Customer
@{
    ViewBag.Title = "Delete Customer";
}

<h2>Confirm Deletion For-</h2>
<p>@Model.FullName</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="@Model.CustomerId" />

    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="List" class="btn btn-primary">Cancel</a>
</form>