@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    string isActive(string controllerName) => controller == controllerName ? "active" : "";
}
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
            <a class="nav-link nav-item @isActive("Home")" asp-area="Main" asp-controller="Home" asp-action="Index">Home</a>
            <a class="nav-link nav-item @isActive("MyTasks")" asp-area="Main" asp-controller="MyTasks" asp-action="List">My Tasks</a>
            <a class="nav-link nav-item @isActive("Hour")" asp-area="Main" asp-controller="Hour" asp-action="ClockIn">My Hours</a>
            <a class="nav-link nav-item text-dark logout" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
        </div>
    </div>
</nav>