@{
    ViewBag.Title = "Employee Main Page";
}
<h1>Employee main page</h1>
<a asp-action="List" asp-controller="MyTasks">My Tasks</a>
<br />
<a asp-action="ClockIn" asp-controller="Hour">My Hours</a>
<br />